.card {
    margin: 10% auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    color: white;
    background: black;
}

.carousel-option{
    padding: 40px;
    max-width: 60%;
    margin: 0 auto;
}
.carousel-item{
    min-height: 400px;
}
.slick-disabled {
    display: none;
}
.previous, .next {
    margin: 0 20px;
}
/* .carousel-inner > .carousel-item:first-child ~ .carousel-control-prev{
    display: none;
} */